@theme "simple-tokyonight"

entry {
    enabled: false;
}

* {
  background-color: #2e2e2e17;
}

window {
  border-radius: 12px;
  width: 675px;
  location: center;
}

mainbox {
  children: [ listview ];
}

listview {
  columns: 3;
  lines: 3;
  padding: 2px 0px;
  spacing: 0px;
}

element {
  orientation: horizontal;
  children: [ element-icon, element-text ];
  spacing: 2px;
  padding: 2px 6px;
  horizontal-align: 0.5;
}

element selected {
  background-color: #7AE2CF;
}

element-icon {
  size: 28px;
  horizontal-align: 0.5;
}

element-text {
  horizontal-align: 0.5;
  vertical-align: 0.5;
}
