configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
}

@theme "simple-tokyonight"

entry {
    placeholder: "Whooshhhh";
    cursor-color: rgb(220,20,60);
}

* {
  background-color: #2e2e2e17;
}

window {
  border-radius: 12px;
  width: 30%;
}

element {
  orientation: horizontal;
  children: [ element-text, element-icon ];
  spacing: 5px;
}

element selected {
  background-color: #7AE2CF;
}

window {
  location: center;
}
