  configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
}

@theme "~/.config/rofi/themes/tokyonight.rasi"


entry {
    placeholder: "Whooshhhh";
    cursor-color: #252021ff;
    text-color: @blue;
}


window {
  border-radius: 12px;
}

element {
  orientation: horizontal;
  children: [ element-text, element-icon ];
  spacing: 5px;
}

window {
  location: center;
}